<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="menu.css">
	<style>
		body {
			padding: 0px;
			margin: 0px;
			text-align: center;
			width:100%;
		}
		label {
			display: block;
			width: 100%;
		}
		input[type="text"], input.frm_button{
		
			width: 200px;
			margin-right: auto;
		}
	</style>
</head>
<body>
	<div id="menu">
		<ul id="menu_sarasas">
			<li id="menu_punktas" th:each="menu_item : ${lst_menu}">
				<a th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
			</li>
		</ul>
	</div>
	<div id="main">
		<h3>Maisto medziagu grupes</h3>
		<form method="POST" action="">
			<label for="pav">Maisto medziagu grupes pavadinimas</label>
			<input name="pav" type="text">
			<input type="submit" name="pildyti" class="frm_button" value="papildyti">
		</form>
		<table>
			<tr>
				<th>
					veiksmai
				</th>
				<th>
					pav
				</th>			
				
			</tr>
			<tr th:each="maisto_medz_grupe : ${lst}">
				<td>
					<input type="button" class="keisti" value="keisti">
					<input type="button" class="keisti" value="šalinti">				
				</td>
				<td th:text="${maisto_medz_grupe.getPav()}"></td>
			</tr>
		</table>
	</div>
</body>
</html>