<!DOCTYPE html>
<html>
<style>
	label {
		display: block;
		width: 100%;
	}
	input[type="text"], input.frm_button, hr {
	
		width: 200px;
		margin-right: auto;
	}
</style>
<body>
	<h3>Produktai</h3>
	<form method="POST" action="">
		<label for="pav">Produkto pavadinimas</label>
		<input name="pav" type="text">
		<hr align="left">
		<input type="submit" name="pildyti" class="frm_button" value="papildyti">
	</form>
	<table>
		<tr>
			<th>
				veiksmai
			</th>
			<th>
				pav
			</th>			
			
		</tr>
		<tr th:each="produktas : ${lst}">
			<td>
				<input type="button" class="keisti" value="keisti">
				<input type="button" class="keisti" value="šalinti">				
			</td>
			<td th:text="${produktas.getPav()}"></td>
		
		</tr>
	</table>
</body>
</html>